$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-element: #353535;
$color-general: white;
$color-bgg: #f7f7f7;
$color-bgg-secondary: #EAEAEA;

$font-family-logo: 'Shrikhand';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}