@media (min-width: 768px) {
    header {
        height: 97px;
    }

    .explorer {
        .explorer-title {
            font-size: 40px;
        }
    }

    .title {
        width: 490px;
    }

    .restaurants {
        .restaurants-cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .restaurants-card {
            width: 47%;
        }
    }

    .menu {
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;

        .menu-part {
            width: 662px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .menu-restaurant img {
        height: 450px;
        margin-top: -50px;
        margin-bottom: -35px;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        padding-top: 57px;

        .logo {
            padding-bottom: 0px;
            box-sizing: content-box;
        }

        .footer-all-list {
            display: flex;
            gap: 40px;
        }
    }
}

@media (min-width: 1024px) {
    .restaurants {
        padding-left: 100px;
        padding-right: 100px;
    }

    .fonctionnement {
        padding-left: 100px;
        padding-right: 100px;

        .fonctionnement-cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
        }
    }

    footer {
        justify-content: right;
        .footer-all-list {
            padding-right: 140px;
        }
        .footer-link {
            display: flex;
        }

        .footer-link-legal {
            display: flex;
        }
    }
}
